
/*#menu-prueba {
  margin-top: 60px;
}
*/

#padre { 
  .hijo {
    font-size: 2em;
    color: black;  
    }
  }
#menu-prueba li {
  padding-left: 0px !important;
  margin-left: 0px !important; 
}


#menu-prueba li ul li {
  padding-left: 0px !important;
  margin-left: 0px !important; 
}

#menu-prueba li a {
  padding-left: 12px !important;
  margin-left: 0px !important; 
}


#menu-prueba li ul li a {
  padding-left: 12px !important;
  margin-left: 0px !important; 
}

#menu-prueba li ul li .collapsible-body ul li {
  padding-left: 32px !important;
  margin-left: 0px !important; 
}

.text-small {
  font-size: 18px;
}

.right {
  float: right;
}

.space-right {
  margin-right: 40px;
}

nav {
  background-color: #ee6e73 !important;
  color: grey !important;
}
nav a {
  color: grey;
}

.grey-text {
  color: grey !important;
}

nav ul a {
    color: #000;
}

#index-banner {
  padding-left: 0px;
}

.bg-img-grid {
  background-image: url("../img/grid12.svg");
  background-repeat: repeat-y;
  width: 100% !important;
  height: 100%;
}

.no-pad-top {
  padding-top: 0rem;
}

/*responsive breakpoint desktop*/
@media only screen and (max-width: 320px) {


}

/*responsive mobile*/
@media only screen and (min-width: 470px) {
  #index-banner {
    padding-left: 300px !important;
  }

}

.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    margin-left: 0px;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: #bab9b9;
    color: white;
    padding: 0;
}

.grid-container {
  padding-left: 32px;
  padding-right: 42px;
  padding-top: 12px;
}

#dropdown1 {
  margin-top: 64px;
  margin-right: 200px;
  width: 300px !important;
}

i.medium {
    font-size: 2rem !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #7d7d7d;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.hidden {
  display: none;
}

.no-visible {
  /*visibility: none;*/
}

#pagos {
  display: none;
}

.visible {
 display: inherit;
}


nav #tittle-breadcrums {
    background-color: #c8c8c8 !important;
    color: grey !important;
    padding-left: 12px;
}

.row .col {
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0rem !important;
    min-height: 1px;
}
.m-bottom-0  {
  margin-bottom: 0px !important;
}
.min-800 {
  height: 800px;
}